.divmsg0 {
	BORDER-RIGHT: #5a9900 1px solid; BACKGROUND-POSITION: 2px 2px; BORDER-TOP: #5a9900 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(http://mail.tom.com/images/new_reg/warning0.gif); BORDER-LEFT: #5a9900 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #5a9900 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; BACKGROUND-COLOR: #eafce6
}
.divmsg1 {
	BORDER-RIGHT: #5a9900 1px solid; BACKGROUND-POSITION: 2px 2px; BORDER-TOP: #5a9900 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(http://mail.tom.com/images/new_reg/warning.gif); BORDER-LEFT: #5a9900 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #5a9900 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; BACKGROUND-COLOR: #eafce6
}
.divmsg2 {
	BORDER-RIGHT: #5a9900 1px solid; BACKGROUND-POSITION: 2px 2px; BORDER-TOP: #5a9900 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(http://mail.tom.com/images/new_reg/err.gif); BORDER-LEFT: #5a9900 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #5a9900 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; BACKGROUND-COLOR: #eafce6
}
