/* CSS Document */
BODY {
	MARGIN: 10px; SCROLLBAR-HIGHLIGHT-COLOR: #f2f2f2; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #f2f2f2; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #e1e1e1
}
.admin_table {
	FONT-SIZE: 12px; background-color: #F4A400; FONT-FAMILY: "ו";border-style:none;
	COLOR: #666666;
	cellSpacing:expression(this.cellSpacing=1);cellPadding:expression(this.cellPadding=4);
}
.input {
	BORDER-RIGHT: #555 1px solid; BORDER-TOP: #555 1px solid; FONT: 12px Tahoma; BORDER-LEFT: #555 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #555 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #fff;
}